<h1>Hola mundo</h1>

<button>Hola</button>

<hr />

<!--sirve para aplicar javascript en el html-->

<p>Number: {{ 1 + 1 }}</p>

<hr />

<p>Booleans : {{ true }}</p>
<p>Bolleans : {{ true }}</p>

<hr />

<p>Arrays: {{ [1, 2, 3, 4, 5, 6, 7, 8] }}</p>

<hr />

<p>String: {{ "Santiago Tovar" | uppercase }}</p>

<hr />

<p>Objects: {{ { a: 1, b: 2 } | json }}</p>

<hr />

<h1>Counter1: {{ counter }}</h1>
<hr />

<button (click)="increaseOne()">+1</button>
<button (click)="decreaseOne()">-1</button>
<hr />
<button (click)="increaseBy(5)">+5</button>
<button (click)="decreaseBy(5)">-5</button>

<hr />

<app-counter></app-counter>
